<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Final Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>controller.user.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>controller.news.GetAllNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news</servlet-name>
    <servlet-class>controller.news.ReadNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>savenews</servlet-name>
    <servlet-class>controller.news.SaveNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savenews</servlet-name>
    <url-pattern>/savenews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>health</servlet-name>
    <servlet-class>controller.news.HealthPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>health</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>entertainment</servlet-name>
    <servlet-class>controller.news.EntertainmentPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entertainment</servlet-name>
    <url-pattern>/entertainment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>politic</servlet-name>
    <servlet-class>controller.news.PoliticPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>politic</servlet-name>
    <url-pattern>/politic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sport</servlet-name>
    <servlet-class>controller.news.SportPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sport</servlet-name>
    <url-pattern>/sport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tech</servlet-name>
    <servlet-class>controller.news.TechPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tech</servlet-name>
    <url-pattern>/tech</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>job</servlet-name>
    <jsp-file>/job.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>job</servlet-name>
    <url-pattern>/job</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>more</servlet-name>
    <jsp-file>/more.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>more</servlet-name>
    <url-pattern>/more</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>controller.news.SearchNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>statistic</servlet-name>
    <jsp-file>/statistic.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>statistic</servlet-name>
    <url-pattern>/statistic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmodulename</servlet-name>
    <servlet-class>controller.module.GetModuleName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmodulename</servlet-name>
    <url-pattern>/getmodulename</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmoduletype</servlet-name>
    <servlet-class>controller.module.GetModuleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmoduletype</servlet-name>
    <url-pattern>/getmoduletype</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gettopnews</servlet-name>
    <servlet-class>controller.news.FilterNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gettopnews</servlet-name>
    <url-pattern>/gettopnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersignout</servlet-name>
    <servlet-class>controller.user.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersignout</servlet-name>
    <url-pattern>/user/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersignup</servlet-name>
    <servlet-class>controller.user.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersignup</servlet-name>
    <url-pattern>/user/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fixedmenu</servlet-name>
    <servlet-class>controller.admin.menu.FixedMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fixedmenu</servlet-name>
    <url-pattern>/admin/html/pages/fixedmenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmodulecode</servlet-name>
    <servlet-class>controller.module.GetModuleCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmodulecode</servlet-name>
    <url-pattern>/getmodulecode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatemenu</servlet-name>
    <servlet-class>controller.admin.menu.UpdateMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemenu</servlet-name>
    <url-pattern>/admin/html/pages/updatemenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getresults</servlet-name>
    <servlet-class>controller.news.GetResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getresults</servlet-name>
    <url-pattern>/getresults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getpagination</servlet-name>
    <servlet-class>controller.news.Pagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getpagination</servlet-name>
    <url-pattern>/getpagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formuser</servlet-name>
    <servlet-class>controller.admin.user.FormUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formuser</servlet-name>
    <url-pattern>/admin/html/pages/formuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adduser</servlet-name>
    <servlet-class>controller.admin.user.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adduser</servlet-name>
    <url-pattern>/admin/html/pages/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formmodule</servlet-name>
    <servlet-class>controller.admin.module.FormModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formmodule</servlet-name>
    <url-pattern>/admin/html/pages/formmodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addmodule</servlet-name>
    <servlet-class>controller.admin.module.AddModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmodule</servlet-name>
    <url-pattern>/admin/html/pages/addmodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addnews</servlet-name>
    <servlet-class>controller.admin.news.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnews</servlet-name>
    <url-pattern>/admin/html/pages/addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formnews</servlet-name>
    <servlet-class>controller.admin.news.FormNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formnews</servlet-name>
    <url-pattern>/admin/html/pages/formnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formnews1</servlet-name>
    <servlet-class>controller.admin.news.FormNews1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formnews1</servlet-name>
    <url-pattern>/admin/html/pages/addnews1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listnews</servlet-name>
    <servlet-class>controller.admin.news.ListNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listnews</servlet-name>
    <url-pattern>/admin/html/pages/listnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listnewsdata</servlet-name>
    <servlet-class>controller.admin.news.ListNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listnewsdata</servlet-name>
    <url-pattern>/admin/html/pages/listnewsdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listmodule</servlet-name>
    <servlet-class>controller.admin.module.ListModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listmodule</servlet-name>
    <url-pattern>/admin/html/pages/listmodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listuser</servlet-name>
    <servlet-class>controller.admin.user.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listuser</servlet-name>
    <url-pattern>/admin/html/pages/listuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatemodule</servlet-name>
    <servlet-class>controller.admin.module.UpdateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemodule</servlet-name>
    <url-pattern>/admin/html/pages/updatemodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actionupdatemodule</servlet-name>
    <servlet-class>controller.admin.module.ActionUpdateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionupdatemodule</servlet-name>
    <url-pattern>/admin/html/pages/actionupdatemodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actiondeletemodule</servlet-name>
    <servlet-class>controller.admin.module.ActionDeleteModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actiondeletemodule</servlet-name>
    <url-pattern>/admin/html/pages/actiondeletemodule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>controller.admin.user.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/admin/html/pages/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actionupdateuser</servlet-name>
    <servlet-class>controller.admin.user.ActionUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionupdateuser</servlet-name>
    <url-pattern>/admin/html/pages/actionupdateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatenews</servlet-name>
    <servlet-class>controller.admin.news.UpdateNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatenews</servlet-name>
    <url-pattern>/admin/html/pages/updatenews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actionupdatenews</servlet-name>
    <servlet-class>controller.admin.news.ActionUpdateNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionupdatenews</servlet-name>
    <url-pattern>/admin/html/pages/actionupdatenews</url-pattern>
  </servlet-mapping>
</web-app>